<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Learning Diary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ActimelloSP.styles.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column min-vh-100 justify-content-between">
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-md bg-black">
            <div class="container-fluid ms-md-3 me-md-3">
                <a asp-controller=Home asp-action=Index class="navbar-brand">My Learning Diary</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <img src="../Resources/logo2.png" class="text-white text-decoration-none d-none d-md-block" id="navlogo">

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a asp-controller=AboutUs asp-action=Index class="nav-link active text-white">Abouto nos</a>
                        </li>
                        
                    </ul>
                </div>
            </div>

        </nav>

    </header>

    @RenderBody()


    <!-- Footer -->
@*
    <footer class="row d-flex bg-black h-auto m-0">
        <div class="col-2">
            <img id="img1" src="~/Resources/logo.jpg" alt="logo" class="logo">
        </div>
        <div class="col-8 col-md-3 offset-1 offset-md-0 d-flex align-items-center">
            <p class="text-white ">+48 692 137 420</p>
        </div>
        <div class="col-6 offset-1 d-none d-md-flex justify-content-around align-items-center">
            <img class="social-media" src="~/Resources/twitter.png" />
            <a asp-controller=Facebook asp-action=Index class="navbar-brand"><img class="social-media" src="~/Resources/facebook.png" /></a>
            <img class="social-media" src="~/Resources/instagram.png" />
        </div>

    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>