<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <title>@ViewData["Title"] - My Learning Diary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column min-vh-100 justify-content-between">
    <header>
        <nav class="navbar navbar-dark bg-dark bg-black">
            <div class="container-fluid" ms-md-4 me-md-4 me-md-4>
                <div class="col-6 col-md-4">
                    <img src="../Resources/book.jpg" class="text-white text-decoration-none d-none d-md-block" id="navlogo">
                </div>
                
                <div class="col-6 col-md-4">
                    <a asp-controller=Home asp-action=Index class="navbar-brand"> My Learning Diary </a>
                </div>


                <div class="col-6 col-md-4">
                    <a asp-controller=SavePointEntry asp-action=Forms class="nav-link active text-white">Add save point</a>
                </div>
            </div>

        </nav>

    </header>

    @RenderBody()


    <!-- Footer -->

    @*<footer class="row d-flex bg-black h-auto m-0">
        <div class="col-2">
        
        </div>

    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>